
                <ul class="navbar-nav mr-auto">                
                    <li class="nav-item active">
                        <a class="nav-link" href="#header"> Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about"> About </a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#projects"> Projects </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact"> Contact </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""> Facebook </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""> Twitter </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""> Instagram </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Linkedin </a> 
                    </li>
                </ul>
